body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.float-left{
	float: left;

}

.float-right{
	float: right;
}

.float-clear{
	clear: both;	
}

.margin-left-10px{
	margin-left: 10px;
}

.margin-right-10px{
	margin-right: 10px;
}